{
    attributes = (
	{
	    columnName = PID;
	    name = pid;
	    prototypeName = integer;
	},
	{
	    columnName = NAME;
	    name = name;
	    prototypeName = char;
	},
	{
	    columnName = GRPID;
	    name = grpid;
	    prototypeName = integer;
	}
    );
    className = EOGenericRecord;
    classProperties = (
	name
    );
    externalName = TST_CUSTOMERGROUP;
    name = CustomerGroup;
    primaryKeyAttributes = (
	pid
    );
    relationships = (
    );
}
