{
    attributes = (
	{
	    columnName = PID;
	    externalType = integer;
	    name = pid;
	    valueClassName = NSNumber;
	    valueType = i;
	},
	{
	    columnName = NAME;
	    externalType = char;
	    name = name;
	    valueClassName = NSString;
	    width = 30;
	},
	{
	    columnName = GRPID;
	    externalType = integer;
	    name = grpid;
	    valueClassName = NSNumber;
	    valueType = i;
	}
    );
    className = EOGenericRecord;
    classProperties = (
	name
    );
    externalName = TST_CUSTOMERGROUP;
    name = CustomerGroup;
    primaryKeyAttributes = (
	pid
    );
    relationships = (
    );
}