{
    attributes = (
	{
	    columnName = PID;
	    name = pid;
	    prototypeName = integer;
	},
	{
	    columnName = ORDID;
	    name = ordid;
	    prototypeName = integer;
	},
	{
	    columnName = POSNR;
	    name = posnr;
	    prototypeName = integer;
	},
	{
	    columnName = PRDID;
	    name = prdid;
	    allowsNull = Y;
	    prototypeName = integer;
	},
	{
	    columnName = PRICE;
	    name = price;
	    prototypeName = decimal;
	},
	{
	    columnName = AMOUNT;
	    name = amount;
	    prototypeName = decimal;
	},
	{
	    columnName = VALUE;
	    name = value;
	    prototypeName = decimal;
	}
    );
    className = EOGenericRecord;
    externalName = TST_ORDERPOS;
    name = OrderPos;
    classProperties = (order, posnr, product, price, amount, value); 
    primaryKeyAttributes = (
	pid
    );
    relationships = (
        {
            deleteRule = EODeleteRuleNullify; 
            destination = Product; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = (
		{
		    destinationAttribute = pid;
		    sourceAttribute = prdid; 
		}
	    ); 
            name = product; 
        },
        {
            deleteRule = EODeleteRuleDeny; 
            destination = Order; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = (
		{
		    destinationAttribute = pid;
		    sourceAttribute = ordid;
		}
	    ); 
            name = order; 
        }
    );
}
