{
    attributes = (
	{
	    columnName = PID;
	    name = pid;
	    prototypeName = integer;
	},
	{
	    columnName = CSTID;
	    name = cstid;
	    prototypeName = integer;
	    allowsNull = Y;
	},
	{
	    columnName = DATE;
	    name = date;
	    prototypeName = date;
	}
    );
    className = EOGenericRecord;
    externalName = TST_ORDER;
    name = Order;
    classProperties = (date, orderPos); 
    primaryKeyAttributes = (
	pid
    );
    relationships = (
        {
            deleteRule = EODeleteRuleCascade; 
            destination = OrderPos; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = (
                {
                    destinationAttribute = ordid;
                    sourceAttribute = pid; 
                }
            ); 
            name = orderPos; 
            ownsDestination = Y; 
        }
    );
}
