{
    attributes = (
	{
	    columnName = CSTID;
	    name = cstid;
	    prototypeName = integer;
	},
	{
	    columnName = PID;
	    name = pid;
	    prototypeName = integer;
	},
	{
	    columnName = PRDID;
	    name = prdid;
	    prototypeName = integer;
	},
	{
	    columnName = PRICE;
	    name = price;
	    prototypeName = decimal;
	},
	{
	    columnName = PRLID;
	    name = prlid;
	    prototypeName = integer;
	}
    );
    className = EOGenericRecord;
    externalName = TST_PRICELISTPOS;
    name = PriceListPos;
    primaryKeyAttributes = (
	pid
    );
    relationships = (
    );
}