{
    attributes = (
	{
	    columnName = GRPID;
	    name = grpid;
	    prototypeName = integer;
	},
	{
	    columnName = NAME;
	    name = name;
	    prototypeName = char;
	},
	{
	    columnName = PID;
	    name = pid;
	    prototypeName = integer;
	}
    );
    className = EOGenericRecord;
    classProperties = (
	name,
	productGroup
    );
    externalName = TST_PRODUCT;
    name = Product;
    primaryKeyAttributes = (
	pid
    );
    relationships = (
	{
	    destination = ProductGroup;
	    isToMany = N;
	    joinSemantic = EOInnerJoin;
	    joins = (
		{
		    destinationAttribute = pid;
		    sourceAttribute = grpid;
		}
	    );
	    name = productGroup;
	}
    );
}