{
    attributes = (
	{
	    columnName = PID;
	    externalType = integer;
	    name = pid;
	    valueClassName = NSNumber;
	    valueType = i;
	},
	{
	    columnName = NAME;
	    externalType = char;
	    name = name;
	    valueClassName = NSString;
	    width = 30;
	},
	{
	    columnName = DATE;
	    externalType = date;
	    name = date;
	    valueClassName = NSCalendarDate;
	}
    );
    className = EOGenericRecord;
    classProperties = (
	name,
	date,
	products
    );
    externalName = TST_PRODUCTGROUP;
    name = ProductGroup;
    primaryKeyAttributes = (
	pid
    );
    relationships = (
	{
	    name = products;
	    destination = Product;
	    isToMany = Y;
	    joinSemantic = EOInnerJoin;
	    joins = (
		{
		    destinationAttribute = grpid;
		    sourceAttribute = pid;
		}
	    );
	    deleteRule = EODeleteRuleCascade;
	}
    );
}