{
    attributes = (
	{
	    columnName = PID;
	    prototypeName = integer;
	    name = pid;
	},
	{
	    columnName = NAME;
	    prototypeName = char;
	    name = name;
	}
    );
    className = EOGenericRecord;
    externalName = TST_SUPPLIER;
    name = Supplier;
    primaryKeyAttributes = (
	pid
    );
    relationships = (
    );
}
